.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.datePicker {
  margin: 0 30px 0 10px;
}

.title {
  margin-left: 130px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}

.label {
  margin-left: 130px;
  margin-bottom: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.chart {
  margin: 0 130px 50px;
}
