<div class="title">{{ userName }}</div>
<div class="flex">
  From: <input type="date"
               name="from"
               class="datePicker"
               [ngModel]="from | date:'yyyy-MM-dd'" (ngModelChange)="changeFromDate($event)">
  To: <input type="date"
             name="until"
             class="datePicker"
             [ngModel]="till | date:'yyyy-MM-dd'" (ngModelChange)="changeTillDate($event)">
</div>


<div class="label">Clicks</div>
<div *ngIf="chart" class="chart">
  <canvas id="clicks">{{ chart }}</canvas>
</div>

<div class="label">Views</div>
<div *ngIf="chart" class="chart">
  <canvas id="views">{{ chart }}</canvas>
</div>
