<div class="title">Users statistics</div>

<div class="container">
  <table class="table">
    <tr class="table__row--heading">
      <th class="table__head">Id</th>
      <th class="table__head">First name</th>
      <th class="table__head">Last name</th>
      <th class="table__head">Email</th>
      <th class="table__head">Gender</th>
      <th class="table__head">IP address</th>
      <th class="table__head">Total clicks</th>
      <th class="table__head">Total page views</th>
    </tr>
    <tr class="table__row"
        *ngFor="let user of users"
        [routerLink]="['./user/']"
        [queryParams]="{name: user.firstName + ' ' + user.lastName, id: user.id}">
      <td class="table__data">{{ user.number }}</td>
      <td class="table__data">{{ user.firstName }}</td>
      <td class="table__data">{{ user.lastName }}</td>
      <td class="table__data">{{ user.email }}</td>
      <td class="table__data">{{ user.gender }}</td>
      <td class="table__data">{{ user.ipAddress }}</td>
      <td class="table__data">{{ user.totalClicks }}</td>
      <td class="table__data">{{ user.totalPageViews }}</td>
    </tr>
  </table>

  <div class="pagination">
    <button
      class="previous"
      [disabled]="previousPageDisabled"
      [ngClass]="{'previous--active': !previousPageDisabled}"
      (click)="previousPage()">
    </button>
    <div class="pagination__item"
         *ngFor="let page of totalPages; let i = index"
         [ngClass]="{ 'pagination__item--active': page === i }"
         [routerLink]="['.']"
         [queryParams]="{'page': i}"
         [routerLinkActive]="['pagination__item--active']"
         (click)="activatePage(i)">
      {{ i + 1 }}
    </div>
    <button
      class="next"
      [disabled]="nextPageDisabled"
      [ngClass]="{'next--active': !nextPageDisabled}"
      (click)="nextPage()">
    </button>
  </div>
</div>
