<header>
  <div class="container">
    <div class="head">
      <div class="head__logo">AppCo</div>

      <div class="head__title">
        <b>Brainstorming</b> for desired perfect Usability
      </div>

      <div class="head__description">
        Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
      </div>

      <div class="head__view-stats" routerLink="/statistics">view state</div>

      <div class="head__mobile">
        <img src="../../../assets/mobile.png" alt="mobile" class="head__mobile-image">
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="about">
      <div class="about__title">
        Why <b>small business owners love</b> AppCo?
      </div>
      <div class="about__description">
        Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
      </div>
      <div class="about__services">
        <div class="service">
          <div class="service__image">
            <img src="../../../assets/firstservice.png" alt="service">
          </div>
          <div class="service__title">Clean Design</div>
          <div class="service__description">Increase sales by showing true dynamics of your website.</div>
        </div>
        <div class="service">
          <div class="service__image">
            <img src="../../../assets/secondservice.png" alt="service">
          </div>
          <div class="service__title">Secure Data</div>
          <div class="service__description">Build your online store’s trust using Social Proof & Urgency.</div>
        </div>
        <div class="service">
          <div class="service__image">
            <img src="../../../assets/thirdservice.png" alt="service">
          </div>
          <div class="service__title">Retina Ready</div>
          <div class="service__description">Realize importance of social proof in customer’s purchase decision.</div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__logo">AppCo</div>
      <div class="footer__rights">All rights reserved by ThemeTags</div>
      <div class="footer__copyrights">Copyrights © 2019.</div>

      <div class="subscription">
        <input class="subscription__input" placeholder="Enter your email">
        <div class="subscription__button">Subscribe</div>
      </div>
    </div>
  </div>
</footer>
